/* VARIABLES */

:root {
  --bg: #191724 ;
  --txt: #e0def4 ;
  --border: #26233a;
  --link: #eb6f92 ;
  --boxbg : #1f1d2e ;
  --highlightbg: #26233a; 
}

/* LAYOUT */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background: var(--bg);
  color: var(--txt); 
  line-height: 1.5;
  margin-bottom: 200px ;
}

main {
  max-width: 800px ;
  margin: auto ;
}
main > article {
  background: var(--boxbg);
  padding: 1em;
  margin: auto ;
  margin-bottom: 0 ;
  border-color: var(--border);
  border-width: 1em 1em 1em 1em ;
  border-style: solid ;
  border-radius: 20px ;

}

a {
  color: var(--link) ;
}

h1 {
	text-align: center ;
}

footer {
  background: var(--boxbg);
  max-width: 400px ;
  margin-left: auto ;
  margin-right: auto ;
  margin-top: -16px ;
  text-align: center ;
  clear: both ;
  border-color: var(--border);
  border-width: 0 1em 1em 1em ;
  border-style: solid ;
  border-radius: 0 0 20px 20px ;
}
img { 
  max-width: 95% ; 
}

/* NAVIGATION */

.site-nav {
  display: flex;
  justify-content: center ;
  margin-bottom: -16px ;
}

.site-nav ul{
  background: var(--boxbg);
  border-color: var(--border);
  border-width: 1em 1em 0em 1em ;
  border-style: solid ;
  border-radius: 20px 20px 0px 0px ;
  }

.site-nav a {
  display: block;
  text-decoration: none;
  color: var(--txt); 
  padding: 1rem;
}

.site-nav a:hover, a:focus {
  background-color: var(--highlightbg); 
}

.main-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 48rem) {
  .site-nav,
  .main-menu {
    flex-direction: column;
  }

  .site-nav a {
    padding: 0.5rem;
  }
  .site-nav ul {
    text-align: center;
  }
}
4 /* For NEXTPREV.HTML */
#nextprev {
  /* The container for both the previous and next articles. */
}
#prevart {
  float: left ;
  text-align: left ;
}
#nextart {
  float: right ;
  text-align: right ;
}
#nextart,#prevart {
  max-width: 33% ;
}

