body {
    margin: 5% auto; 
    background: #191724; 
    color: #e0def4; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; 
    font-size: 16px; 
    line-height: 1.8; 
    max-width: 73%;
    position: relative;
}
code {
    background: #26233a;
}
a {
    border-bottom: 1px solid #444444; 
    color: #eb6f92; 
    text-decoration: none;
}
a:hover {
    border-bottom: 0;
    color: #b4637a;
}
h1 {
    text-align: center;
}
.navbar {
    float: right;
}
.navbar a{
    background-color: rgb(31, 29, 46);
    display:block;
    float: left;
    font-size: 15px;
    padding: 8px;
    text-decoration: none;
    text-align: center;
}
.navbar a.active {
    color: #e0def4;
}
.navbar a.active:hover {

    color: #908caa;
}
.navbar a:hover {
    color: b4637a;
}
.info img {
    float: left;
    margin-right: 1.2rem;
}
.info ul{
    padding-top: 0.2rem;
    font-size: 16px;
    list-style-type: none;
}
.info label{
    color: #ff9e64;
}
.green {
    color: #9ece6a;
}
.light-blue {
    color: #b4f9f8;
}
.pink {
    color: #f7768e;
}
.blue {
    color: #7dcfff;
}
.maroon {
    color: #bb9af7;
}
blockquote {
    border: 0px;
    color: #eee;
}

.bounce{
  animation:bounce 5s linear 100;
  }
 @keyframes bounce{
    0%{
      transform:translate(0px,0px);
     
      }
    25%{
       transform:translate(100px,100px);
      
      }
    50%{
       transform:translate(200px,0px);  
      }
     75%{
       transform:translate(100px,-100px);
        

       }
   100%{
      transform:translate(0px,0px);
      
      }   
   }